#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.banner{
  font-size: 100px;
  background-color: azure;
}
.subtitle{
  font-size: medium;
}

.section{
  font-size: 80px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

.ArtistGrid{
  display: grid;
  gap: 20px;
} 

.JobCard{
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: rosybrown;
  font-family: inherit;
} 

.galleryImage{
  width: 400px;
  height: auto;
}

.title{
  text-align: left;
  font-size: 40px;
}

.company{
  text-align: left;
}

.filters{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
}
.App {
  text-align: center;  
}